@model WebProje1.Models.Antrenman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Antrenman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntrenmanAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntrenmanAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtkiBolgesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtkiBolgesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KapakFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KapakFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brans.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
