@model IEnumerable<WebProje1.Models.Antrenman>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AntrenmanAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtkiBolgesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KapakFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antrenor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenmanAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtkiBolgesi)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.KapakFoto)*@
                <img src="@Url.Content(item.KapakFoto)" class="d-block w-50" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brans.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antrenor.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
